* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	height: 100vh;
	font-family: 'Ubuntu', 'sans-serif';
	background-color: #dddddd;
}

.nav {
	background-color: #292929;
	color: #fff;
	text-align: center;
}

ul {
	list-style: none;
	font-size: 20px;
}

.menu-item {
	display: inline-block;
	height: 80px;
	width: 300px;
	line-height: 80px;
	cursor: pointer;
	transition: background-color 0.4s;
}

.menu-item:hover {
	background-color: #363636;
}

.dropdown {
	position: absolute;
	width: 300px;

	li {
		display: none;
		background-color: rgb(112, 112, 112);
		transition: color 0.4s;
		opacity: 0;
	}

	li:hover {
		color: tomato;
	}
}

.menu-item:hover {
	background-color: #363636;
	.dropdown {
		li {
			display: block;
			animation: menu1 0.5s forwards;
		}

		li:nth-child(2) {
			animation-delay: 0.2s;
		}

		li:nth-child(3) {
			animation-delay: 0.4s;
		}

		li:nth-child(4) {
			animation-delay: 0.6s;
		}

		li:nth-child(5) {
			animation-delay: 0.85s;
		}

		li:nth-child(6) {
			animation-delay: 1.1s;
		}
	}
}

@keyframes menu1 {
	from {
		opacity: 0;
		transform: rotateY(0deg);
	}
	to {
		opacity: 1;
		transform: rotateY(0deg);
	}
}
